<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>27_sp_roomerflag.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,187},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>bt_callBanker_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,562},{145,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,78}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_callBanker_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,228},{133,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{133,70}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_cancel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,482},{145,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,78}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,228},{133,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{133,74}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,900},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,806},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,98}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_chip_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,515},{145,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,64}}</string>
                <key>sourceSize</key>
                <string>{145,64}</string>
            </dict>
            <key>bt_chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,368},{145,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,64}}</string>
                <key>sourceSize</key>
                <string>{145,64}</string>
            </dict>
            <key>bt_exitSetLayer_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,755},{85,83}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,83}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>bt_exitSetLayer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,906},{85,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>bt_exit_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,900},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_exit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,742},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,98}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_howPlay_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,363},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_howPlay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,706},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,98}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_off_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,228},{139,67}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{139,67}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>bt_off_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,482},{149,89}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,89}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>bt_on_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{137,67}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,11},{137,67}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>bt_on_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,391},{151,89}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{151,89}}</string>
                <key>sourceSize</key>
                <string>{169,89}</string>
            </dict>
            <key>bt_prompt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,448},{145,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,78}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_prompt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,228},{133,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{133,71}}</string>
                <key>sourceSize</key>
                <string>{145,77}</string>
            </dict>
            <key>bt_set_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,363},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_set_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,760},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,98}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_showCard_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,368},{145,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,78}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_showCard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,228},{133,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{133,70}}</string>
                <key>sourceSize</key>
                <string>{145,78}</string>
            </dict>
            <key>bt_soundOff_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,906},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>bt_soundOff_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,619},{87,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{87,85}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>bt_sound_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,662},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>bt_sound_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,571},{87,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{87,85}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>bt_start_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,299},{169,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{169,90}}</string>
                <key>sourceSize</key>
                <string>{169,92}</string>
            </dict>
            <key>bt_start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{157,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{157,82}}</string>
                <key>sourceSize</key>
                <string>{169,92}</string>
            </dict>
            <key>bt_switch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,903},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_switch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,660},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,98}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_takeBack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,662},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>bt_takeBack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,482},{87,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{87,85}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>bt_trustee_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,114}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>bt_trustee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,642},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{100,98}}</string>
                <key>sourceSize</key>
                <string>{116,114}</string>
            </dict>
            <key>cardFrame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,86},{155,211}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{155,211}}</string>
                <key>sourceSize</key>
                <string>{195,237}</string>
            </dict>
            <key>cardFrame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{183,235}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{183,235}}</string>
                <key>sourceSize</key>
                <string>{195,237}</string>
            </dict>
            <key>game_chat_lbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,297},{180,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,108}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>game_chat_rbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{180,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,108}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>ox_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{207,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,77}}</string>
                <key>sourceSize</key>
                <string>{207,77}</string>
            </dict>
            <key>ox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,691},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{210,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,78}}</string>
                <key>sourceSize</key>
                <string>{210,78}</string>
            </dict>
            <key>ox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,482},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,691},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,482},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,691},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,482},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,691},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,482},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>ox_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,694},{207,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,71}}</string>
                <key>sourceSize</key>
                <string>{207,71}</string>
            </dict>
            <key>oxnew_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,187},{179,212}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{179,212}}</string>
                <key>sourceSize</key>
                <string>{183,218}</string>
            </dict>
            <key>oxnew_frameTop.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,528},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{615,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{615,99}}</string>
                <key>sourceSize</key>
                <string>{643,101}</string>
            </dict>
            <key>score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,228},{135,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,70}}</string>
                <key>sourceSize</key>
                <string>{135,70}</string>
            </dict>
            <key>sp_buttonBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{123,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,575}}</string>
                <key>sourceSize</key>
                <string>{123,575}</string>
            </dict>
            <key>sprite_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,479},{106,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{106,105}}</string>
                <key>sourceSize</key>
                <string>{108,105}</string>
            </dict>
            <key>sprite_openCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,332},{97,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,50}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
            <key>sprite_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,233},{97,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,51}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>symbol_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,103},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>symbol_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,133},{20,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene_oxnew.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:045da1bf7fd616239af4a4c3746a0fb1$</string>
            <key>textureFileName</key>
            <string>gameScene_oxnew.png</string>
        </dict>
    </dict>
</plist>
