<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>F:\whry_client\run\debug\win32\GloryProject.exe</StartProgram>
    <StartArguments>-workdir F:\whry_client\client</StartArguments>
    <StartWorkingDirectory>F:\whry_client\client</StartWorkingDirectory>
  </propertyGroup>
</Project>