<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>F:\WHRY\run\debug\win32\GloryProject.exe</StartProgram>
    <StartArguments>-workdir F:\WHRY\run\</StartArguments>
    <StartWorkingDirectory>F:\WHRY\run\</StartWorkingDirectory>
  </propertyGroup>
</Project>