<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>200_btn_help_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,666},{252,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,76}}</string>
                <key>sourceSize</key>
                <string>{252,76}</string>
            </dict>
            <key>200_btn_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1593},{252,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,76}}</string>
                <key>sourceSize</key>
                <string>{252,76}</string>
            </dict>
            <key>bg_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,678},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>btn_ready_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,585},{232,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,79}}</string>
                <key>sourceSize</key>
                <string>{232,79}</string>
            </dict>
            <key>btn_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,585},{232,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,79}}</string>
                <key>sourceSize</key>
                <string>{232,79}</string>
            </dict>
            <key>check_setting_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,585},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>check_setting_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,585},{163,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,61}}</string>
                <key>sourceSize</key>
                <string>{163,61}</string>
            </dict>
            <key>game_bt_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,585},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_bt_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,585},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_bt_pass_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,585},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_bt_score_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,585},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_bt_score_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1847},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_bt_score_three.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,585},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_bt_score_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,585},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_bt_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,585},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>game_cellScoreIMG.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1991},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{106,44}}</string>
                <key>sourceSize</key>
                <string>{112,50}</string>
            </dict>
            <key>game_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,585},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>game_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,585},{170,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,40}}</string>
                <key>sourceSize</key>
                <string>{170,40}</string>
            </dict>
            <key>game_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,678},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{70,68}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>game_nooutcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1647},{76,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{76,42}}</string>
                <key>sourceSize</key>
                <string>{84,42}</string>
            </dict>
            <key>game_robot-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1653},{336,320}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{336,320}}</string>
                <key>sourceSize</key>
                <string>{362,336}</string>
            </dict>
            <key>game_tips_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{204,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{204,34}}</string>
                <key>sourceSize</key>
                <string>{206,34}</string>
            </dict>
            <key>game_tips_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,750},{218,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{218,36}}</string>
                <key>sourceSize</key>
                <string>{230,42}</string>
            </dict>
            <key>game_tips_callscore0.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1569},{76,42}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{76,42}}</string>
                <key>sourceSize</key>
                <string>{84,52}</string>
            </dict>
            <key>game_topMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,133},{659,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{659,106}}</string>
                <key>sourceSize</key>
                <string>{659,106}</string>
            </dict>
            <key>gameend_0_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,794},{797,282}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,8},{797,282}}</string>
                <key>sourceSize</key>
                <string>{871,298}</string>
            </dict>
            <key>gameend_1_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,794},{741,214}}</string>
                <key>offset</key>
                <string>{37,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,41},{741,214}}</string>
                <key>sourceSize</key>
                <string>{871,298}</string>
            </dict>
            <key>gameend_2_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{857,266}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{857,266}}</string>
                <key>sourceSize</key>
                <string>{871,298}</string>
            </dict>
            <key>gameend_3_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,794},{731,250}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,24},{731,250}}</string>
                <key>sourceSize</key>
                <string>{871,298}</string>
            </dict>
            <key>gameend_again0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,585},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>gameend_again1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,585},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>gameend_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1537},{694,506}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,506}}</string>
                <key>sourceSize</key>
                <string>{694,506}</string>
            </dict>
            <key>gameend_quit0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,585},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>gameend_quit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,585},{190,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,78}}</string>
                <key>sourceSize</key>
                <string>{190,78}</string>
            </dict>
            <key>land_bt_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1593},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>land_bt_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1593},{396,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,89}}</string>
                <key>sourceSize</key>
                <string>{396,89}</string>
            </dict>
            <key>land_cardlander_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,44},{87,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,112}}</string>
                <key>sourceSize</key>
                <string>{87,112}</string>
            </dict>
            <key>land_headframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,585},{88,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,91}}</string>
                <key>sourceSize</key>
                <string>{88,91}</string>
            </dict>
            <key>land_itemlander_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,2},{40,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,116}}</string>
                <key>sourceSize</key>
                <string>{40,116}</string>
            </dict>
            <key>land_itemroomer_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1537},{30,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,77}}</string>
                <key>sourceSize</key>
                <string>{30,77}</string>
            </dict>
            <key>land_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1847},{137,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{137,29}}</string>
                <key>sourceSize</key>
                <string>{139,31}</string>
            </dict>
            <key>land_sp_flagchuntian.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{962,581}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{962,581}}</string>
                <key>sourceSize</key>
                <string>{962,581}</string>
            </dict>
            <key>land_sp_flagfanchuntian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{962,581}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{962,581}}</string>
                <key>sourceSize</key>
                <string>{962,581}</string>
            </dict>
            <key>setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,794},{727,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{727,482}}</string>
                <key>sourceSize</key>
                <string>{727,482}</string>
            </dict>
            <key>sp_setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1991},{174,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{174,52}}</string>
                <key>sourceSize</key>
                <string>{178,52}</string>
            </dict>
            <key>sp_setting_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1991},{174,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{174,50}}</string>
                <key>sourceSize</key>
                <string>{178,52}</string>
            </dict>
            <key>txt_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1991},{100,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{108,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff3d76d62d46af492de0d42c2bcd7899$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
