<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheng_li_TX_1164 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1606},{541,399}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{541,399}}</string>
                <key>sourceSize</key>
                <string>{545,405}</string>
            </dict>
            <key>sheng_li_TX_1164 (10).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{541,399}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{541,399}}</string>
                <key>sourceSize</key>
                <string>{545,405}</string>
            </dict>
            <key>sheng_li_TX_1164 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1205},{541,399}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{541,399}}</string>
                <key>sourceSize</key>
                <string>{545,405}</string>
            </dict>
            <key>sheng_li_TX_1164 (3).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1205},{541,399}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{541,399}}</string>
                <key>sourceSize</key>
                <string>{545,405}</string>
            </dict>
            <key>sheng_li_TX_1164 (4).png</key>
            <dict>
                <key>frame</key>
                <string>{{545,804},{541,399}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{541,399}}</string>
                <key>sourceSize</key>
                <string>{545,405}</string>
            </dict>
            <key>sheng_li_TX_1164 (5).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{541,399}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{541,399}}</string>
                <key>sourceSize</key>
                <string>{545,405}</string>
            </dict>
            <key>sheng_li_TX_1164 (6).png</key>
            <dict>
                <key>frame</key>
                <string>{{545,403},{541,399}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{541,399}}</string>
                <key>sourceSize</key>
                <string>{545,405}</string>
            </dict>
            <key>sheng_li_TX_1164 (7).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{541,399}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{541,399}}</string>
                <key>sourceSize</key>
                <string>{545,405}</string>
            </dict>
            <key>sheng_li_TX_1164 (8).png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{541,399}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{541,399}}</string>
                <key>sourceSize</key>
                <string>{545,405}</string>
            </dict>
            <key>sheng_li_TX_1164 (9).png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{541,399}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{541,399}}</string>
                <key>sourceSize</key>
                <string>{545,405}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quan_huang_TX_1164_3.png</string>
            <key>size</key>
            <string>{1088,2007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1912ea484e634b148f265c03a3328fd$</string>
            <key>textureFileName</key>
            <string>quan_huang_TX_1164_3.png</string>
        </dict>
    </dict>
</plist>
